// ------------------- layout-ui-kit -------------------
.ui-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 140px;
    // background-color: rgb(240, 212, 179);
}

.ui-logo {
    position: absolute;
    left: 30px;
    top: 30px;
}