mixin feedback(data = {})

    .feedback 
        .feedback__person 
            .feedback__person-photo
                img(src=require('@/img/visitors/' + data.photo) alt='фото')
            .feedback__person-info
                .feedback__person-name.body= data.name
                .feedback__person-date.body= data.date 

        .feedback__content 
            .feedback__like-button 
                +like(data.count, data.liked)
            .feedback__text.body= data.text 
