
extends ../layout/layout.pug

include ../../../blocks/blocks.pug 

block variables
    - var title = 'Form Elements'

block content

    .row.mb_100
        //----------------------- colum 1 -----------------------
        .col_width_320
            .mb_20
                +text-field('text field', {placeholder: 'Email'})

            .mb_20
                +text-field('text field', {value: 'This is pretty awesome', autofocus: true})

            .mb_20
                +text-field('masked text field', {placeholder: 'ДД.ММ.ГГГГ'})

            .mb_40
                +text-field('subscription text field', {placeholder: 'Email', value: 'Константин Кончтантиновичч Константинопольский'}, true)    

            .mb_20
                +dropdown('гости', 'guests')    

            .mb_40
                +dropdown('удобства номера', 'rooms')

            .mb_20
                +datepicker('date dropdown', 'date dropdown', 'fromto') 

            .mb_40
                +datepicker('filter date dropdown') 

        //----------------------- colum 2 -----------------------
        .col_width_266
            //- .input_mb_20
            //-     label.h3 Select<br>
            //-         select
            //-             option(value="1")= "HTML верстка верстка верстка"     
            //-             option(value="2" )= "CSS"     
            //-             option(value="3")= "JS"     
            //-             option(value="4")= "PHP"  

            +title('checkbox buttons')
            .mb_40
                +checkbox([
                        {text: 'Можно курить', checked: false}, 
                        {text: 'Можно с питомцами', checked: true}, 
                        {text: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', checked: true}
                    ])   

            +title('radio buttons')
            .mb_40
                +radio()

            +title('toggle')
            .mb_10
                +toggle('special', 'Получать спецпредложения') 

            .mb_40
                +toggle('offers', 'Получать спецпредложения', true)

            +title('like button')
            .mb_10
                +like(2)

            .mb_40
                +like(12, true)

            +title('rate button')
            .mb_10
                +rate()

            .mb_40
                +rate(4, false)

            +title('rich checkbox buttons')
            .mb_40
                +checkbox([
                        {text: 'Широкий коридор', descr: 'Ширина коридоров в номере не&nbsp;менее&nbsp;91&nbsp;см.', checked: true}, 
                        {text: 'Помощник для инвалидов', descr: 'На 1 этаже вас встретит специалист  и проводит до номера.', checked: false}
                    ], 'rich')   

            .mb_10
                +expand-checkbox('expandable checkbox list', [
                        {text: 'Завтрак', checked: false}, 
                        {text: 'Письменный стол', checked: true}, 
                        {text: 'Стул для кормления', checked: true}, 
                        {text: 'Кроватка', checked: true}, 
                        {text: 'Телевизор', checked: false}, 
                        {text: 'Шампунь', checked: false}
                    ]) 

        //----------------------- colum 3 -----------------------
        .col_width_266
            +title('range slider', 23)
            .mb_40
                +slider('price', {
                        start: [5000, 10000],
                        step: 500,
                        range: {
                            'min': 0,
                            'max': 16000 
                        }
                    })

            +title('buttons')
            .mb_30 
                +btn('Click me')

            .mb_30    
                +btn('Click me', 'border')

            .mb_30    
                +btn-text('Click me')

            .mb_40    
                +btn('Перейти к оплате', 'submit')

            +title('pagination')
            .mb_40 
                //- +pagination()   

            +title('bullet list', 14)
            .mb_40
                +bullet-list([
                    'Нельзя с питомцами',
                    'Без вечеринок и мероприятий',
                    'Время прибытия — после 13:00, а&nbsp;выезд&nbsp;до&nbsp;12:00'
                ])

    .row
        //----------------------- colum 1 -----------------------
        .col_width_280
            +inform([
                {img: 'smile.svg', text: 'Комфорт', descr: 'Шумопоглощающие стены'},
                {img: 'house.svg', text: 'Удобство', descr: 'Окно в каждой из спален'},
                {img: 'fire.svg', text: 'Уют', descr: 'Номер оснащён камином'}
            ])

        //----------------------- colum 2 -----------------------
        .col_width_710
            +feedback({
                photo: 'photo-1.jpg',
                name: 'Мурад Сарафанов',
                date: '5 дней назад',
                text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                count: 12,
                liked: true
            })
    