@import '@/fonts/montserrat';
@import '@/scss/main';
@import '@blocks/blocks'; // стили всех блоков

.row {
    display: flex;
    justify-content: space-between;
}

.row_hidden {
    display: none;
}

// -------------------- col_width --------------------
.col_width_266 {
    width: 266px;
}

.col_width_280 {
    width: 280px;
}

.col_width_320 {
    width: 320px;
}

.col_width_710 {
    width: 710px;
}

.col_width_50 {
    width: 50%;
}

// ------------------- margin-bottom -------------------
.mb_10 {
    margin-bottom: 10px;
}

.mb_20 {
    margin-bottom: 20px;
}

.mb_30 {
    margin-bottom: 30px;
}

.mb_40 {
    margin-bottom: 40px;
}

.mb_100 {
    margin-bottom: 100px;
}
