
extends ../layout/layout.pug

include ../../../blocks/blocks.pug 

block variables
    - var title = 'Form Elements'

block content

    .row
        .col
            .input_mb_20
                +text-field("text field", {placeholder: "Email"}, {color: "red"})

            .input_mb_20
                +text-field("text field", {placeholder: "password", value: "This is pretty awesome", autofocus: true})

            //- .input_mb_20
            //-     +text-field("dropdown", {placeholder: "disabled: true", value: "disabled: true", disabled: true})

            .input_mb_20
                +text-field("text field", {value: "Константин Кончтантиновичч Константинопольский"})
            
            .input_mb_20
                +subscr-text-field("subscription text field", {value: "Константин Кончтантиновичч Константинопольский"})    

            .input_mb_130
                +dropdown("гости", {type: "guests"})    

        .col
            .input_mb_20
                +text-field("text field2", {placeholder: "Email1"}, {color: "red"})    

            .input_mb_20
                label.h3 Select<br>
                    select
                        option(value="1")= "HTML верстка верстка верстка"     
                        option(value="2" )= "CSS"     
                        option(value="3")= "JS"     
                        option(value="4")= "PHP"  

            .input_mb_20
                +text-field("text field2", {placeholder: "Email2"}, {color: "red"})    

            .input_mb_20
                +subscr-text-field("subscription text field", {value: "Константин Кончтантиновичч Константинопольский"}) 

            .input_mb_20
                +dropdown("удобства номера", {type: "rooms"})       

            .input_mb_20
                +checkbox("checkbox buttons", {name: "rules"})           

        .col


    .row
        .col-1
        .col-2

    
    //-     +text-field("masked text field", {type: "text", pattern: "", placeholder: "ДД.ММ.ГГГГ"})

        



    

    