@import '@/fonts/montserrat';
@import '@/scss/main';
@import '@blocks/blocks'; // стили всех блоков

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    &:last-child {
        margin-bottom: 0;
    }
}

.col {
    width: 320px;
    // width: 266px;
    // background-color: lightyellow;
}

.col-1 {
    width: 290px;

    height: 500px;
    background-color: lightcoral;
}

.col-2 {
    width: 710px;

    height: 500px;
    background-color: lightcoral;
}

form {
    height: 500px;
}



