mixin text-field(label = '', attr = {}, isSubscr = false)

    - var classes = {}
    - classes['text-field__input_subscr'] = isSubscr

    .text-field
        label.text-field__label
            +label(label)
            input.text-field__input.input.body(class=classes)&attributes(attr)

        if (isSubscr)
            button.text-field__button(type='submit')
