.text-field {
    position: relative;
}

.text-field__input_subscr {
    padding-right: $input-height + 5px;
}

.text-field__button {
    position: absolute;
    height: $input-height;
    width: $input-height;
    right: 0px;
    bottom: 0px;

    background-image: url('@blocks/text-field/arrow_forward.svg');
    background-repeat: no-repeat;
    background-position: center;
    
    &:focus {
        border-radius: $input-border-radius;
        border: 1px solid $purple;
    }
}
