mixin like(count = 0, liked = false)

    - var classes = {}
    - classes['like__button_liked'] = liked

    .like 
        .like__button(class=classes)
            .like__img
            .like__counter= count
