mixin expand-checkbox(title = '', data = [], name = '')
    
    .expand-checkbox
        button.expand-checkbox__title.h3= title

        .expand-checkbox__checkbox.expand-checkbox__checkbox_hidden
            +checkbox(data)
