.expand-checkbox__title {
    position: relative;
    width: 100%;

    padding-right: $input-height;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;

    &:focus-visible {
        text-shadow: 0px 3px 0px $purple;
    }
}

.expand-checkbox__title:before {
    position: absolute;
    content: '';

    height: $input-height;
    width: $input-height;
    right: 0px;
    top: 0px;

    background-image: url('@blocks/expand-checkbox/expand.svg');
    background-repeat: no-repeat;
    background-position: center;

    transition: transform 0.4s;
}

.expand-checkbox__title_rotated:before {
    transform: rotate(180deg);
}

.expand-checkbox__checkbox {
    padding-top: 3px;
}

.expand-checkbox__checkbox_hidden {
    display: none;
}
