.checkbox__label {
    position: relative;
    display: block;
    padding-left: 30px;
    margin-bottom: 12px;
    
    &:last-child {
        margin-bottom: 0;
    }
    cursor: pointer;
}

.checkbox__custom {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0px;
    top: 0px;

    border: 1px solid $dark-shade-25;
    border-radius: $input-border-radius;
    background: $input-background;
}

.checkbox__custom:before {
    position: absolute;
    display: none;
    content: '';

    left: 0px;
    top: -1px;
    right: 0px;
    bottom: 0px;

    background-image: url('@blocks/checkbox/vector.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.checkbox__real:focus-visible + .checkbox__custom {
    box-shadow: 0 0 0 1px $purple;
}

.checkbox__real:checked + .checkbox__custom {
    border-color: $purple;
}

.checkbox__real:checked + .checkbox__custom:before {
    display: block;
}

.checkbox__text {
    color: $dark-shade-50;
    line-height: 1.3;
}

.checkbox__rich-text {
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 5px;
}

.checkbox__rich-descr {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    color: $dark-shade-50;
}
