.btn__button {
    height: $input-height;
    border-radius: 22px;
    color: #ffffff;
    background-image: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);

    transition: 0.4s;

    &:hover {
        background-image: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }

    &:focus-visible {
        box-shadow: 0px 0px 10px 3px rgba(188, 156, 255, 0.7);
    }
}

// ------------------ SIMPLE ------------------
.btn__button_type_simple {
    padding-left: 20px;
    padding-right: 20px;
}

// ------------------ BORDER ------------------
.btn__button_type_border {
    padding-left: 18px;
    padding-right: 18px;
    color: $purple;

    border: 2px solid transparent;
    background-image: linear-gradient(white, white), linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    &:hover {
        background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
    }
}

// ------------------ SUBMIT ------------------
.btn__button_type_submit {
    position: relative;
    width: 100%;
}

.btn__button_type_submit:after {
    position: absolute;
    content: "";
    height: $input-height;
    width: $input-height;
    right: 0px;
    bottom: -1px;

    background-image: url('@blocks/btn/arrow_forward.svg');
    background-repeat: no-repeat;
    background-position: center;
}
