.card-registr__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-registr__button-text {
    margin-right: 10px;
    color: #000000;
    line-height: 1.3;
}
