@font-face {
    font-family: Montserrat;
    src: url('@/fonts/montserrat/Montserrat-Regular.woff'), url('@/fonts/montserrat/Montserrat-Regular.svg'), url('@/fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('@/fonts/montserrat/Montserrat-Bold.woff'), url('@/fonts/montserrat/Montserrat-Bold.svg'), url('@/fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}