@font-face {
    font-family: Montserrat;
    src: url('@/fonts/montserrat/montserrat-regular.woff'), url('@/fonts/montserrat/montserrat-regular.svg'), url('@/fonts/montserrat/montserrat-regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('@/fonts/montserrat/montserrat-bold.woff'), url('@/fonts/montserrat/montserrat-bold.svg'), url('@/fonts/montserrat/montserrat-bold.ttf');
    font-weight: 700;
    font-style: normal;
}