mixin datepicker(label1 = '', label2 = '', dpType = 'filter')

    //- dpType = filter, fromto

    .datepicker(data-type=dpType)

        if (dpType === 'filter')
            label.datepicker__label
                +label(label1)
                button.datepicker__input-custom.input.body(type='button' data-input='filter') 

        else
            .datepicker__wrapper
                label.datepicker__label.datepicker__label_width_50
                    +label(label1)
                    button.datepicker__input-custom.input.body(type='button' data-input='from') ДД.ММ.ГГГГ

                label.datepicker__label.datepicker__label_width_50
                    +label(label2)
                    button.datepicker__input-custom.input.body(type='button' data-input='to') ДД.ММ.ГГГГ
        
        input.datepicker__input-real.input.body(readonly tabindex='-1')
