mixin datepicker(label1 = '', label2 = '', type = '')

    //- type = filter

    .datepicker(data-type=type)

        if (type === 'filter')
            label.datepicker__label
                +label(label1)
                button(type="button").datepicker__input-custom.input.body(data-input='filter') 

        else
            .datepicker__wrapper
                label.datepicker__label.datepicker__label_width_150
                    +label(label1)
                    button(type="button").datepicker__input-custom.input.body(data-input='from') ДД.ММ.ГГГГ

                label.datepicker__label.datepicker__label_width_150
                    +label(label2)
                    button(type="button").datepicker__input-custom.input.body(data-input='to') ДД.ММ.ГГГГ

        input.datepicker__input-real.input.body(readonly tabindex=-1)
