@import 'air-datepicker/air-datepicker.css';

.datepicker {
    position: relative; // для input-real
}

.datepicker__wrapper {

    @media (min-width: 360px) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.datepicker__label_width_50 {
    width: calc(50% - 10px);
}

.datepicker__input-custom {
    position: relative;
    padding-right: $input-height;
    text-align: left;
}

.datepicker__input-custom:after {
    position: absolute;
    content: '';
    height: $input-height;
    width: $input-height;
    right: 0px;
    top: -1px;

    background-image: url('@blocks/datepicker/expand.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.datepicker__input-real {
    position: absolute;
    z-index: -1;
    opacity: 0;
    left: 0;
    bottom: 0;
}

// ------------------------ AIR DATEPICKER ------------------------ 
.air-datepicker {
    // width: 320px;
    box-sizing: border-box;

    border-radius: 4px;
    border: 1px solid $dark-shade-25;
    background: $input-background;
    box-shadow: 0px 10px 20px $dark-shade-5;

    font-family: Montserrat, sans-serif;
    font-size: 12px;
    color: $dark-shade-50;
}

.air-datepicker--pointer {
    display: none;
}

.air-datepicker-nav {
    padding: 20px 20px 30px;
    border: none;
}

.air-datepicker-nav--title {
    // h2
    font-size: 19px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
}

.air-datepicker-nav--action {
    width: 24px;
    height: 24px;
}

.air-datepicker-nav--action svg {
    display: none;
}

.air-datepicker-nav--action[data-action="prev"] {
    background-image: url('@blocks/datepicker/arrow_back.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.air-datepicker-nav--action[data-action="next"] {
    background-image: url('@blocks/datepicker/arrow_forward.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.air-datepicker--content {
    padding: 0 20px 20px;
}

.air-datepicker-body--day-names {
    grid-auto-rows: 40px; // высота ячейки
    margin: 0px;
}

.air-datepicker-body--day-name {
    color: $purple;
    text-transform: none;

    //h3
    font-size: 12px;
    font-weight: 700;
}

// ---------------- CELL DAY ----------------

.air-datepicker-body--cells.-days- {
    grid-auto-rows: 40px; // высота ячейки
}

.air-datepicker-cell.-day- {
    position: relative;
}

.air-datepicker-cell.-day-.-focus- {
    border-radius: 50%;
}

// ховер для уже выбранных ячеек
.air-datepicker-cell.-day-.-selected-.-focus-:after,
.air-datepicker-cell.-day-.-in-range-.-focus-:after {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: '';
    height: 40px;
    width: 40px;

    border-radius: 50%;
    background-color: $purple;
    opacity: 0.25;
    z-index: 0;
}

.air-datepicker-cell.-day-.-in-range-.-focus- {
    border-radius: 0;
}

.air-datepicker-cell.-day-.-range-from- {
    border-radius: 50% 0 0 50%;
}

.air-datepicker-cell.-day-.-range-to- {
    border-radius: 0 50% 50% 0;
}

.air-datepicker-cell.-day-.-range-from-.-range-to- {
    border-radius: 50%;
}

.air-datepicker-cell.-day-.-other-month- {
    color: $dark-shade-25;
}

.air-datepicker-cell.-day-.-in-range-,
.air-datepicker-cell.-day-.-selected-,
.air-datepicker-cell.-day-.-selected-.-focus-,
.air-datepicker-cell.-day-.-range-to-,
.air-datepicker-cell.-day-.-range-from-,
.air-datepicker-cell.-day-.-other-month-.-in-range-,
.air-datepicker-cell.-day-.-other-month-.-in-range-.-focus-,
.air-datepicker-cell.-day-.-other-month-.-selected-,
.air-datepicker-cell.-day-.-other-month-.-selected-.-focus- {
    background: linear-gradient(180deg, rgba(187, 156, 255, 0.25) 0%, rgba(139, 165, 249, 0.25) 100%);
    border: none; // -range-to-
}

.air-datepicker-cell.-day-.-current-:before,
.air-datepicker-cell.-day-.-selected-:before {
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(data-date);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    color: #ffffff;
    font-weight: 700;
}

.air-datepicker-cell.-day-.-current-:before {
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
}

.air-datepicker-cell.-day-.-selected-:before {
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}

// ---------------- BUTTONS ----------------

.air-datepicker--buttons {
    border: none;
    padding: 0px 20px 20px;
}

.air-datepicker--buttons_hidden {
    display: none;
}

.air-datepicker-buttons {
    display: flex;
}

.air-datepicker-button {
    height: auto;

    &:hover {
        background: none;
    }
}

//  ---------------- CUSTOM ----------------

.air-datepicker__btn-apply {
    margin-left: auto;
}

.air-datepicker__btn-clear_hidden {
    display: none;
}
