.dropdown {
    position: relative;
}

.dropdown__input {
    position: relative;
    padding-right: $input-height;
    text-align: left;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// .dropdown__input_open {
//     border-bottom-left-radius: 0px;
//     border-bottom-right-radius: 0px;
//     border-color: $dark-shade-50;
// }

.dropdown__input:after {
    position: absolute;
    content: '';
    height: $input-height;
    width: $input-height;
    right: 0px;
    top: -1px;

    background-image: url('@blocks/dropdown/expand.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown__dropdown {
    position: absolute;
    display: none;
    z-index: 10;

    width: 100%;
    left: 0px;
    top: 100%;
    transform: translateY(-1px);    // сместить вверх на 1px
    padding: 6px 6px 6px $input-padding;

    border: 1px solid $dark-shade-50;
    border-radius: $input-border-radius;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: $input-background;
    box-shadow: 0px 10px 20px $dark-shade-5;
}

// .dropdown__dropdown_open {
//     display: block;
// }

.dropdown_open {
    .dropdown__dropdown {
        display: block;
    }

    .dropdown__input {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-color: $dark-shade-50;
    }
}

.dropdown__list {
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0;
    }
}

.dropdown__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 7px;
    &:last-child {
        margin-bottom: 0px;
    }
}

.dropdown__list-item-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92px;
}

.dropdown__list-item-button {
    width: 30px;
    height: 30px;

    border: 1px solid $dark-shade-25;
    border-radius: 22px;

    font-size: 18px;
    font-weight: 400;
    color: $dark-shade-50;

    transition: 0.25s border-color;

    &:hover, &:focus {
        box-shadow: 0 0 0 1px $purple;
    }
}

.dropdown__list-item-button_disable {
    opacity: 0.38;
    cursor: default;
    pointer-events: none;
}

.dropdown__buttons {
    display: flex;
    margin-bottom: 7px;
}

.dropdown__button-clean, .dropdown__button-apply {
    color: $purple;

    &:hover, &:focus {
        color: $dark-shade-50;
    }
}

.dropdown__button-apply {
    margin-left: auto;
}

.dropdown__button-clean_hidden {
    display: none;
}
