@import '@blocks/label/label';
@import '@blocks/title/title';
@import '@blocks/text-field/text-field';
@import '@blocks/dropdown/dropdown';
@import '@blocks/checkbox/checkbox';
@import '@blocks/expand-checkbox/expand-checkbox';
@import '@blocks/toggle/toggle';
@import '@blocks/like/like';
@import '@blocks/rate/rate';
@import '@blocks/radio/radio';
@import '@blocks/slider/slider';
@import '@blocks/btn/btn';
@import '@blocks/btn-text/btn-text';
@import '@blocks/bullet-list/bullet-list';
@import '@blocks/datepicker/datepicker';
@import '@blocks/feedback/feedback';
@import '@blocks/inform/inform';
@import '@blocks/card-find/card-find';
@import '@blocks/card-registr/card-registr';
@import '@blocks/card-order/card-order';
