mixin rate(rate = 5, enabled = true)

    - var classes = {}
    - classes['rate_enabled'] = enabled

    .rate(class=classes data-rate=rate) 
        .rate__stars
            - for (var i = 1; i <= 5; i++)
                if (i <= rate)
                    .rate__star.rate__star_active(data-rate=i)
                else
                    .rate__star(data-rate=i)
