.subscr-text-field {
    position: relative;
}

.subscr-text-field__label span {
    display: inline-block;
    margin-bottom: 5px;
}

.subscr-text-field__input {
    width: 100%;
    height: $input-height;
    padding-left: $input-padding;
    padding-right: $input-height;

    border: 1px solid $dark-shade-25;
    border-radius: $input-border-radius;
    background-color: $input-background;

    &:hover, &:focus {
        border-color: $dark-shade-50;
    }

    &::placeholder {
        color: $dark-shade-25;
    }
}

.subscr-text-field__button {
    position: absolute;
    display: block;
    height: $input-height;
    width: $input-height;
    right: 0px;
    bottom: 0px;
    background-image: url('@/pug/mixins/subscr-text-field/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;

    &:focus {
        border: 1px solid $purple;
        border-radius: $input-border-radius;
    }
}