
extends ../../../layout/layout-ui-kit.pug

include ../../../mixins/mixins.pug 

block variables
    - var title = 'Form Elements'

block content

    .row
        .col
            .input-mb-20
                +text-field("text field", {placeholder: "Email"}, {color: "red"})

            .input-mb-20
                +text-field("text field", {placeholder: "password", value: "This is pretty awesome", autofocus: true})

            .input-mb-20
                +text-field("dropdown", {placeholder: "disabled: true", value: "disabled: true", disabled: true})

            //- .input-mb-20
            //-     +text-field("masked text field", {type: "date", pattern: "", placeholder: "ДД.ММ.ГГГГ"})

            .input-mb-20
                +text-field("text field", {value: "Константин Кончтантиновичч Константинопольский"})

            
            .input-mb-20
                +subscr-text-field("subscription text field", {value: "Константин Кончтантиновичч Константинопольский"})    

            .input-mb-20
                +dropdown("dropdown", {value: "Константин Кончтантиновичч Константинопольский"})    

            .input-mb-20
                +text-field("text field2", {placeholder: "Email"}, {color: "red"})    

            select
                option(value="1")= "HTML"     
                option(value="2" )= "CSS"     
                option(value="3")= "JS"     
                option(value="4")= "PHP"  

            .input-mb-20
                +text-field("text field2", {placeholder: "Email"}, {color: "red"})       

        .col
        .col


    .row
        .col-1
        .col-2

    
    //-     +text-field("masked text field", {type: "text", pattern: "", placeholder: "ДД.ММ.ГГГГ"})

        



    

    