* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

// html,
body {
    font-family: Montserrat, sans-serif;
    background-color: #f0f0f0;

    margin: 0;
    padding: 0;
}

a, a:hover {
    text-decoration: none;
    transition: 0.5s;
    outline: none;
}

a {
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;    
}

img {
    display: block;
    // max-width: 100%;
    // height: auto;
}

button, input{
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    background-color: inherit;

    outline: none;
}

button {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 140px;
    // max-width: 420px;

    // // Медиа запрос для планшетов
    // @media (min-width: 768px) {
    //     padding: 0 30px;
    //     max-width: 900px;
    // }

    // // Медиа запрос для десктопов
    // @media (min-width: 1200px) {
    //     padding: 0;
        max-width: 1440px;
        background-color: rgb(240, 212, 179);
    // }
}

.none {
    display: none;
}

.none-scroll {
    overflow: hidden;
}


// ------------------- input margin-bottom -------------------
.input_mb_5 {
    margin-bottom: 20px;
}

.input_mb_20 {
    margin-bottom: 20px;
}

.input_mb_30 {
    margin-bottom: 30px;
}

.input_mb_40 {
    margin-bottom: 40px;
}


.input_mb_130 {
    margin-bottom: 170px;
}


// ------------------- layout-ui-kit -------------------
.ui-container {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 140px;
    background-color: rgb(240, 212, 179);
}

.ui-logo {
    position: absolute;
    left: 30px;
    top: 30px;
}
