$dark-shade-100: #1F2041;
$dark-shade-75: #1F2041BF;
$dark-shade-50: #1F204180;
$dark-shade-25: #1F204140;
$dark-shade-5: #1F20410D;
$purple: #BC9CFF;
$green: #6FCF97;

$input-height: 44px;
$input-border-radius: 4px;
$input-padding: 15px;
$input-background: #ffffff;

// $title-mb: 17px;
