.h1 {
    font-size: 24px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
}

.h2 {
    font-size: 19px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
}

.h3 {
    font-size: 12px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
    text-transform: uppercase;
}

.body {
    font-size: 14px;
    font-weight: 400;
    color: $dark-shade-75;
    line-height: 1.7;
}

.input {
    width: 100%;
    height: $input-height;
    padding: 0px $input-padding;

    border: 1px solid $dark-shade-25;
    border-radius: $input-border-radius;
    background-color: $input-background;

    &:hover, &:focus {
        border-color: $dark-shade-50;
    }
}
