.h1 {
    font-size: 24px;
    font-weight: 700;
    color: $dark_shade_100;
    line-height: 1.22;
}

.h2 {
    font-size: 19px;
    font-weight: 700;
    color: $dark_shade_100;
    line-height: 1.22;
}

.h3 {
    font-size: 12px;
    font-weight: 700;
    color: $dark_shade_100;
    line-height: 1.22;
    text-transform: uppercase;
}

.body {
    font-size: 14px;
    font-weight: 400;
    color: $dark_shade_75;
    line-height: 1.7;
}
