.h1 {
    font-size: 24px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
}

.h2 {
    font-size: 19px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
}

.h3 {
    font-size: 12px;
    font-weight: 700;
    color: $dark-shade-100;
    line-height: 1.22;
    text-transform: uppercase;
}

.body {
    font-size: 14px;
    font-weight: 400;
    color: $dark-shade-75;
    line-height: 1.7;
}

.input {
    width: 100%;
    height: $input-height;
    padding: 0px $input-padding;

    border: 1px solid $dark-shade-25;
    border-radius: $input-border-radius;
    background-color: $input-background;

    &::placeholder {
        color: $dark-shade-25;
    }

    &:hover, &:focus {
        border-color: $dark-shade-50;
    }
}

.card {
    max-width: 380px;
    padding: 40px 15px 30px;
    
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

    @media (min-width: 400px) {
        padding: 40px 30px 30px;
    }

    // Медиа запрос для планшетов
    @media (min-width: 768px) {
    }

    // Медиа запрос для десктопов
    @media (min-width: 1200px) {
    }
}
