mixin bullet-list(title = '', data = [])

    .bullet-list 
        if title
            .bullet-list__title.h3= title

        ul.bullet-list__list 
            each item in data
                li.bullet-list__list-item.body !{item}
